{% extends 'base.html' %} {% load static %} {% block content %}
<img
  src="{% static 'main/images/main_background.png' %}"
  alt="Background Image"
  style="width: 100%; height: 80vh; object-fit: cover"
/>
<ul>
  <li>
    <a href="{% url 'airline_index' %}" class="button-image flights"
      >Airlinex Information</a
    >
    <span class="button-text">Airline</span>
  </li>
  <div class="divider"></div>
  <!-- Vertical bar between buttons -->
  <li>
    <a href="{% url 'tour_index' %}" class="button-image attractions"
      >Tours Information</a
    >
    <span class="button-text">Tour</span>
  </li>
</ul>
{% endblock %}
