{% extends 'base.html' %} {% block content %}
<h1>{{ district_name }}</h1>
<div class="district-container">
  <div class="content-container">
    <div class="map-container">
      <div id="map" style="width: 100%; height: 100vh"></div>
      <span id="card-address">Address</span>
    </div>
    <div class="list-container">
      <div class="theme-container">
        <div class="head-section">
          <h2>Attractions</h2>
          <select id="mainCategories" name="mainCategories">
            <option value="">All</option>
            {% for category in main_categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="scroll-container">
          <div class="card-container" id="attractions-container">
            <!-- Cards will be appended here -->
          </div>
        </div>
      </div>
      <div class="theme-container">
        <div class="head-section">
          <h2>Performances/Festivals</h2>
          <div class="filter-container">
            <input type="date" id="startdate" name="startdate" />
            <input type="date" id="enddate" name="enddate" />
            <select id="genrenms" name="genrenms">
              <option value="">All</option>
              {% for genre in genres %}
              <option value="{{ genre }}">{{ genre }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="scroll-container">
          <div class="card-container" id="performances-container">
            <!-- Cards will be appended here -->
          </div>
        </div>
      </div>
      <div class="theme-container">
        <div class="head-section">
          <h2>Accommodations</h2>
          <select id="uptaenms" name="uptaenms">
            <option value="">All</option>
            {% for type in lodging_types %}
            <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="scroll-container">
          <div class="card-container" id="lodgings-container">
            <!-- Cards will be appended here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }

  .district-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
  }

  .content-container {
    position: relative;
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-container {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-left: 50px;
  }

  .scroll-container {
    width: 100%;
    max-width: 1000px;
    overflow-x: auto;
  }
  .card-container {
    display: flex;
    width: max-content;
  }
  .card {
    background-color: #fff;
    width: 200px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    flex: 0 0 auto;
  }
  .card img {
    width: 100%;
    height: auto;
  }
  .card-content {
    padding: 16px;
  }
  .card-title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .card-details {
    font-size: 14px;
    color: #666;
  }
  .theme-container {
    width: 90%;
    height: 330px;
  }

  .head-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  select {
    height: fit-content;
  }

  .map-container {
    flex: 2;
  }

  #map {
    border-radius: 10px;
  }
</style>

<script
  type="text/javascript"
  src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{ NAVER_MAPS_API_KEY }}&submodules=geocoder&language=en"
></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var districtName = "{{ district_name }}";
    var districtKorName = "{{ district_korName }}";
    var markers = [];

    // Initialize Naver Map
    var mapContainer = document.getElementById("map");
    var mapOptions = {
      center: new naver.maps.LatLng(37.5665, 126.978),
      zoom: 10,
    };
    var map = new naver.maps.Map(mapContainer, mapOptions);

    naver.maps.Event.once(map, "init", function () {
      searchLocation(districtKorName);
    });

    // Fetch initial data for all sections
    fetch(`/tour/district/${districtName}/tour-info/`)
      .then((response) => response.json())
      .then((data) => {
        updateAttractions(data.tour_infos);
      });

    fetch(`/tour/district/${districtName}/performances/`)
      .then((response) => response.json())
      .then((data) => {
        updatePerformances(data.performances);
      });

    fetch(`/tour/district/${districtName}/lodgings/`)
      .then((response) => response.json())
      .then((data) => {
        updateLodgings(data.lodgings);
      });

    // Filter data based on user inputs
    document
      .getElementById("mainCategories")
      .addEventListener("change", function () {
        fetchTourInfo();
      });

    document
      .getElementById("startdate")
      .addEventListener("change", function () {
        fetchPerformances();
      });

    document.getElementById("enddate").addEventListener("change", function () {
      fetchPerformances();
    });

    document.getElementById("genrenms").addEventListener("change", function () {
      fetchPerformances();
    });

    document.getElementById("uptaenms").addEventListener("change", function () {
      fetchLodgings();
    });

    function fetchTourInfo() {
      var category = document.getElementById("mainCategories").value;
      var url = `/tour/district/${districtName}/tour-info/?category=${category}`;

      fetch(url)
        .then((response) => response.json())
        .then((data) => {
          updateAttractions(data.tour_infos);
        });
    }

    function fetchPerformances() {
      var startDate = document.getElementById("startdate").value;
      var endDate = document.getElementById("enddate").value;
      var genre = document.getElementById("genrenms").value;
      var url = `/tour/district/${districtName}/performances/?start_date=${startDate}&end_date=${endDate}&genre=${genre}`;

      fetch(url)
        .then((response) => response.json())
        .then((data) => {
          updatePerformances(data.performances);
        });
    }

    function fetchLodgings() {
      var uptaenms = document.getElementById("uptaenms").value;
      var url = `/tour/district/${districtName}/lodgings/?uptaenms=${uptaenms}`;

      fetch(url)
        .then((response) => response.json())
        .then((data) => {
          updateLodgings(data.lodgings);
        });
    }

    function updateAttractions(tourInfos) {
      var attractionsContainer = document.getElementById(
        "attractions-container"
      );
      attractionsContainer.innerHTML = "";
      tourInfos.forEach((info) => {
        var card = createCard(
          info.firstImage,
          info.title,
          `${info.contentTypeID__subCategory1}(${info.contentTypeID__subCategory2})`,
          info.addr,
          info.la,
          info.lo
        );
        attractionsContainer.appendChild(card);
      });
    }

    function updatePerformances(performances) {
      var performancesContainer = document.getElementById(
        "performances-container"
      );
      performancesContainer.innerHTML = "";
      performances.forEach((info) => {
        var card = createCard(
          info.poster,
          info.prfnm,
          `${info.genrenm}, ${info.prfpdfrom} - ${info.prfpdto}, ${info.pcseguidance}`,
          info.mt10id__adres,
          info.mt10id__la,
          info.mt10id__lo
        );
        performancesContainer.appendChild(card);
      });
    }

    function updateLodgings(lodgings) {
      var lodgingsContainer = document.getElementById("lodgings-container");
      lodgingsContainer.innerHTML = "";
      lodgings.forEach((info) => {
        var card = createCard(
          "https://via.placeholder.com/200x150",
          info.bplcnm,
          info.uptaenm,
          info.rdnwhladdr,
          info.la,
          info.lo
        );
        lodgingsContainer.appendChild(card);
      });
    }

    function createCard(imageSrc, title, details, address, lat, lng) {
      var card = document.createElement("div");
      card.className = "card";
      card.innerHTML = `
        <img src="${imageSrc}" alt="이미지" onerror="this.onerror=null;this.src='https://via.placeholder.com/200x150';" />
        <div class="card-content">
          <div class="card-title">${title}</div>
          <div class="card-details">${details}</div>
        </div>
      `;
      card.addEventListener("mouseover", function () {
        console.log(lat, lng);
        clearMarkers();

        var markerPosition = new naver.maps.LatLng(lat, lng);
        var marker = new naver.maps.Marker({
          position: markerPosition,
          map: map,
        });
        map.setCenter(markerPosition);
        map.setZoom(15);

        markers.push(marker);

        // Update the address span with the current card's address
        var addressSpan = document.getElementById("card-address");
        if (addressSpan) {
          addressSpan.textContent = address;
          console.log("Address span updated:", address);
        } else {
          console.error("Address span not found");
        }
      });
      return card;
    }

    function searchLocation(query) {
      naver.maps.Service.geocode({ query: query }, function (status, response) {
        if (status !== naver.maps.Service.Status.OK) {
          console.error("Geocode Error:", status, response);
          return alert("Something went wrong!");
        }

        var result = response.v2.addresses[0];
        if (!result) {
          console.error("No addresses found:", response);
          return alert("No addresses found!");
        }

        var location = new naver.maps.LatLng(result.y, result.x);

        console.log("Location found:", location);

        map.setCenter(location);
        map.setZoom(13);
        var marker = new naver.maps.Marker({
          position: location,
          map: map,
        });

        markers.push(marker);
      });
    }

    function clearMarkers() {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
      }
      markers = [];
    }
  });
</script>

{% endblock %}
