/* .map-container {
  position: relative;
  background-color: #f00;
}
#seoul-map {
  width: 100%;
  height: auto;
  position: absolute;
  left: 20px;
}
.info-box {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background: white;
  border: 1px solid #ddd;
  display: none;
}
.map-container path {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1;
}
.map-container path:hover {
  fill: #f00;
} */
