{% extends 'base.html' %}
{% block content %} {% load static %}
<h2>Search Flights</h2>
<div class="content-container" style="display: flex; flex-direction: row">
  <div style="flex: 1">
    <form method="get" style="display: flex; flex-direction: column" action="{% url 'search_flights' %}">
      <div style="display: flex; margin-top: 5px; flex-direction: column;">
      <label for="depAirportCodeCodes">Departure Airport</label>
      <select id="depAirportCodes" name="depAirportCodes" required>
        <option value=""></option>
        {% for airport in airports %}
        <option value="{{ airport.depAirportCode }}" {% if request.GET.depAirportCodes == airport.depAirportCode %}selected{% endif %}>{{ airport.depAirportCode }}</option>
        {% endfor %}
      </select>
    </div>
    <div style="display: flex; margin-top: 5px; flex-direction: column;">
      <label for="depDate">
        Departure Date</label>
      <input type="date" id="depDate" name="depDate"  value="{{ request.GET.depDate }}"/>
    </div>
    <div style="display: flex; margin-top: 5px; flex-direction: column;">
      <label for="arrDate">Arrival Date</label>
      <input type="date" id="arrDate" name="arrDate"  value="{{ request.GET.arrDate }}"/>
    </div>
      <button type="submit" style="margin-top: 10px;">Search</button>
      <button type="button" onclick="resetFilters()">Reset</button>
    </form>
  </div>

  <div class="list-container">
    <div class="scroll-container" id="flight-list">
      {% include 'airline/flight_list.html' %}
    </div>
    <div id="loading" style="display: none;">Loading...</div>
  </div>

  <div style="flex: 2">
    {% if exchange_rate %}
    <div class="er-box">
      <div class="date">
        <span class="day">Currency Unit</span>
        <span class="day" style="margin-bottom: 10px;">{{ exchange_rate.currencyCode }}</span>
        <span class="date-num">Base Exchange Rate</span>
        <span class="date-num">{{ exchange_rate.standardRate|floatformat:0 }}</span>
      </div>
      <div class="weather">
        <div class="time">TTB: {{ exchange_rate.ttb|floatformat:0 }}</div>
        <div class="divider"></div>
        <div class="time">TTS: {{ exchange_rate.tts|floatformat:0 }}</div>
      </div>
    </div>
    {% endif %}

    <div class="weather-list">
      {% for weather in weather_data %}
      <div class="weather-item">
        <div class="date">
          <span class="day">{{ weather.tm|date:"D" }}</span>
          <span class="date-num">{{ weather.tm }}</span>
        </div>
        <div class="weather">
          <div class="precipitation"><img
            src="{% static 'airline/images/airline_precipitation_icon.png' %}"
            alt="Background Image"
            style="width: 20px; height: 20px; object-fit: cover"
          /> {{ weather.sumRn|floatformat:0 }}mm</div>
        </div>
        <div class="temp">
          <span class="low">low: {{ weather.minTa|floatformat:0 }}°</span>
          <span class="avg">avg: {{ weather.avgTa|floatformat:0 }}°</span>
          <span class="high">high: {{ weather.maxTa|floatformat:0 }}°</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  flatpickr("#depDate", {
    dateFormat: "Y-m-d",
    locale: "en",
  });

  flatpickr("#arrDate", {
    dateFormat: "Y-m-d",
    locale: "en",
  });

  function resetFilters() {
      const url = new URL(window.location.href);
      url.search = '';  // Remove all query parameters
      window.location.href = url.toString();  // Redirect to the URL without query parameters
  }

  document.addEventListener('DOMContentLoaded', function() {
    let page = 1;
    const flightList = document.getElementById('flight-list');
    const scrollContainer = document.querySelector('.scroll-container');
    const loading = document.getElementById('loading');
    let loadingInProgress = false;

    const loadMoreFlights = () => {
      if (scrollContainer.scrollTop + scrollContainer.clientHeight >= scrollContainer.scrollHeight - 200) {
        if (!loadingInProgress) {
          loadingInProgress = true;
          page++;
          loading.style.display = 'block';

          fetch(`?page=${page}`, {
            headers: {
              'X-Requested-With': 'XMLHttpRequest'
            }
          })
          .then(response => {
            if (!response.ok) {
              throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.text();
          })
          .then(text => {
            try {
              const data = JSON.parse(text);
              loading.style.display = 'none';
              loadingInProgress = false;
              if (data.html) {
                flightList.insertAdjacentHTML('beforeend', data.html);
              }
              // if (data.end) {
              //   loadingInProgress = true;
              // }
            } catch (error) {
              console.error('Error parsing JSON:', error);
              console.error('Response text was:', text);
              loading.style.display = 'none';
              loadingInProgress = true;
            }
          })
          .catch(error => {
            console.error('Error fetching more flights:', error);
            loading.style.display = 'none';
            loadingInProgress = true;
          });
        }
      }
    };

     scrollContainer.addEventListener('scroll', loadMoreFlights);
  });
  </script>

<style>
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }

  .content-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }

  .list-container {
    display: flex;
    height: 100vh;
    flex: 6;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .scroll-container {
    max-height: 100%; /* 스크롤 가능한 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 설정 */
    width: 100%;
    padding: 10px;
  }
  
  #loading {
    align-items: center;
    justify-content: center;
    background-color:lightgray;
    width: 50%;
    border-radius: 10px;
    text-align: center;
  }

  .card-container {
    display: flex;
    flex-direction: column; /* 카드들을 세로로 나열 */
    gap: 10px; /* 카드들 사이의 간격 */
    padding-inline: 10px;
  }

  .card {
    background-color: #fff;
    width: 100%;
    height: 200px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    flex: 0 0 auto;
  }
  .card-subcontent {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: right;
  }
  .card-content {
    display: flex;
    height: 100%;
    flex-direction: row;
  }
  .card-title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .card-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 14px;
    color: #666;
  }

  .card a {
    text-decoration: none; /* 하이퍼링크 밑줄 제거 */
    width: 100%;
    background-color: #007bff; /* 버튼 배경색 */
    color: #fff; /* 버튼 텍스트 색상 */
    display: flex;
    justify-content: right;
  }
  .card a:hover {
    background-color: #0056b3; /* 호버 시 버튼 배경색 */
  }

  .weather-list {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }

  .weather-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .weather-item:last-child {
    border-bottom: none;
  }

  .weather-item.today {
    background-color: #f0f0f0;
  }

  .date {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .date .day {
    display: flex;
    font-weight: bold;
    font-size: 1.2em;
  }

  .weather {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .weather .precipitation {
    font-size: 0.8em;
  }

  .weather .probability {
    font-size: 0.8em;
    color: #555;
  }

  .weather .icon {
    font-size: 1.5em;
  }

  .temp {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: right;
  }

  .temp .low {
    color: blue;
  }

  .temp .avg {
    color: green;
    margin-left: 5px;
  }

  .temp .high {
    color: red;
    margin-left: 5px;
  }

  .er-box {
    display: flex;
    flex-direction: row;
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding-block: 20px;
  }

  .divider {
    height: 1px;
    width: 80%; /* Adjust height as needed */
    background-color: #ccc; /* Color of the vertical bar */
  }
</style>
{% endblock %}